.App {
  text-align: center;
  box-shadow: 1px 1px 20px white;
}

.App h1 {
  background-color: rgb(241, 250, 249);
  font-size: 60px;
  font-weight: 900;
  box-shadow: 0px 0px 15px 3px rgb(72, 138, 143);
  padding: 30px 66px;
  border-radius: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App h1 {
    padding: 30px 50px;
  }
}

.App-header {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(8, 8, 8);
}
