.dictionary {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Dictionary section {
  background: white;
  margin-top: 20px;
  box-shadow: 1px 5px 25px rgb(207, 211, 212);
  padding: 30px 100px;
  border-radius: 5px;
  text-transform: capitalize;
}

.Dictionary input {
  border-radius: 5px;
  border: 1px solid rgb(116, 109, 109);
  width: 100%;
  padding: 10px 5px;
  color: #333;
}

.hint {
  opacity: 0.6;
  font-size: 12px;
  margin-top: 5px;
  text-transform: lowercase;
}

.Dictionary h4 {
  font-weight: 900;
  opacity: 0.8;
}
@media (max-width: 764px) {
  .Dictionary section {
    margin: 13px 0;
    padding: 10px;
  }

  .Dictionary h4 {
    font-size: 10px;
    margin-top: 5px;
  }

  .Dictionary input {
    border-radius: 5px;
    border: 1px solid rgb(116, 109, 109);
    width: 100%;
    padding: 3px 5px;
    color: #333;
    font-size: 10px;
  }

  .hint {
    font-size: 9px;
  }
}
