.Meaning h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.5;
}

.example {
  font-size: 14px;
  opacity: 0.7;
  font-weight: 500;
  margin-top: 10px;
}

@media (max-width: 764px) {
  .Meaning h3 {
    font-size: 20px;
  }

  .definition,
  .example,
  .Synonyms {
    font-size: 11px;
  }
}
