.Synonyms {
  margin: 20px 0 0;
  padding: 0;
}

.Synonyms li {
  display: inline;
  padding-right: 15px;
  border: 1px solid #ddd;
  padding: 3px 8px;
  border-radius: 10px;
  line-height: 2.5;
  margin-right: 5px;
}

.Synonyms .similar {
  color: aquamarine;
  font-weight: 700;
  margin-right: 5px;
}

@media (max-width: 764px) {
  .Synonyms li {
    display: flex;
    justify-content: space-evenly;
    line-height: 1.5;
  }
}
